/* Цвет фона Шапки #FFFFFF */
/* цвет лого #000000 #2196F3 */

/* Цвет фона Героя #2F303A */
/* цвет заголовка Героя #FFFFFF */

/* цвет фона секции 2 #E5E5E5 */
/* цвет заголовков и имена специалистов #212121*/
/* Основной цвет контента #757575 */

ul {
  list-style: none;
}

body {
  color: #2F303A
}

/* Проверка */

/* Или через дополнительный клаксс
 /* .list 
 { list-style:none; } 
 кототорый точечно уберает маркеры при добовлениюи к классу в html */

.mail:focus,
.mail:hover,
.studio:hover,
.accent-logo {
  color: #2196f3;
}

.studio {
  color: #212121;
}

.mail {
  color: #000000;
}

.logo-studio {
  color: #000000;
}

.hero {
  background-color: #2F303A;
}

.hero-title {
  color: #FFFFFF;
}